﻿@model DOITOEMApi.mstRegisterData
@{
    ViewBag.Title = "Create";
    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Str",
        Value = "1"

    });
    listItems.Add(new SelectListItem
    {
        Text = "Int",
        Value = "2",
    }); ;
    listItems.Add(new SelectListItem
    {
        Text = "Float",
        Value = "3"

    });
    listItems.Add(new SelectListItem
    {
        Text = "Code",
        Value = "4"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Bit",
        Value = "5"
    });
}
<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Master Register Data</h4>
        <hr />
        <div class="form-group">

            <div class="col-md-10">
                <label>Register Id :</label>
                <input type="text" id="txtRegId" />
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <label>MachineLine Id :</label>
                <input type="text" id="txtMachineLineId" />
            </div>
        </div>
        <div class="form-group">

            <div class="col-md-10">
                <label>Plc Register Id :</label>
                <input type="text" id="txtPlcRegId" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label>Parameter Category :</label>
                <input type="text" id="txtPcat" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label>Parameter Unit :</label>
                <input type="text" id="txtPUoc" />
            </div>
        </div>

        <div class="form-group ">
            @Html.Label("RegsterType", htmlAttributes: new { @class = "control-label col-md-2" })
            @*@Html.DropDownListFor("RegsterType", new SelectList(Model._RegisterType, "RegisterType", "RegisterType"), "Select RegsterType", new { @style = "Width:100%", @class = "form-control select2", @id = "View_unit_code_excel", @onchange = "SelectUnitValuestream()" })*@
            @Html.DropDownListFor(Model => Model.RegParamType, listItems, "Select Parameter Type", new { @style = "Width:100%", @class = "form-control select2", @id = "View_unit_code_excel", @onchange = "SelectUnitValuestream()" })
        </div>
        <div class="form-group " id="parview1">
        </div>

        <div id="ParBitRegisterData" style="display:none">
            @Html.Partial("_BitRegisterData")
        </div>
        <div id="ParCodeRegisterData" style="display:none">
            @Html.Partial("_CodeRegisterData")
        </div>
        <div id="ParFloatRegisterData" style="display:none">
            @Html.Partial("_FloatRegisterData")
        </div>
        <div id="ParIntRegiterData" style="display:none">
            @Html.Partial("_IntRegiterData")
        </div>
        <div id="ParStringRegisterData" style="display:none">
            @Html.Partial("_StringRegisterData")
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" onclick="submitAndsaveData()" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
        var arrString = [];

function SelectUnitValuestream() {

        var uni_unit_code = $("#View_unit_code_excel").val();
                $.ajax({
                    url: '@Url.Action("CallPartialView","mstRegisterDatas")',
                    data: { registerType: uni_unit_code },
                    type: 'Post',
                    dataType: "json",
                    success: function (data) {
                        if (data == '_CodeRegisterData') {
                            hide();
                            $("#ParCodeRegisterData").css("display","block");

                        }
                        else if (data == '_BitRegisterData') {
                            hide();
                             $("#ParBitRegisterData").css("display","block");
                        }
                        else if (data == '_StringRegisterData') {
                            hide();
                             $("#ParStringRegisterData").css("display","block");
                        }
                        else if (data == '_IntRegiterData') {
                            hide();
                             $("#ParIntRegiterData").css("display","block");
                        }
                        else if (data == '_FloatRegisterData') {
                            hide();
                             $("#ParFloatRegisterData").css("display","block");
                        }
                        }
                        });
            }
            function hide() {
                $("#ParCodeRegisterData").css("display","none");
                $("#ParBitRegisterData").css("display", "none");
                $("#ParStringRegisterData").css("display", "none");
                $("#ParIntRegiterData").css("display", "none");
                $("#ParFloatRegisterData").css("display", "none");
            }


        function submitAndsaveData() {
            var registerId = $("#txtRegId").val();
            var machineLineId = $("#txtMachineLineId").val();
            var PlcRegId = $("#txtPlcRegId").val();
            var PCat = $("#txtPcat").val();
            var PUoc = $("#txtPUoc").val();

            var stringValue = $("#txt_string").val();

            var intIValue = $("#txt_intval").val();
            var intIUclValue = $("#txt_iucl").val();
            var intILclValue = $("#txt_ilcl").val();

            var fltValue = $("#txt_floatval").val();
            var fltUclValue = $("#txt_fucl").val();
            var fltLclValue = $("#txt_flcl").val();

            if (stringValue != "") {
                arrString.push({ registerId: registerId, machineLineId: machineLineId, PlcRegId: PlcRegId, PCat: PCat, PUoc: PUoc, stringValue: stringValue })
               
                $.ajax({
                    url: '@Url.Action("SaveDataStr","mstRegisterDatas")',
                    data: JSON.stringify(arrString),
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (result) {

                    },
                });
            }
            if (intIValue != "") {
                 arrString.push({ registerId: registerId, machineLineId: machineLineId, PlcRegId: PlcRegId, PCat: PCat, PUoc: PUoc, iVal: intIValue, iUOC:intIUclValue ,iLcl:intILclValue})
               
                $.ajax({
                    url: '@Url.Action("SaveDataStr","mstRegisterDatas")',
                    data: JSON.stringify(arrString),
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (result) {

                    },
                });
            }
            if (fltValue != "") {
                 arrString.push({ registerId: registerId, machineLineId: machineLineId, PlcRegId: PlcRegId, PCat: PCat, PUoc: PUoc, fVal: fltValue, fUOC:fltUclValue ,fLcl:fltLclValue})
               
                $.ajax({
                    url: '@Url.Action("SaveDataStr","mstRegisterDatas")',
                    data: JSON.stringify(arrString),
                    type: "POST",
                    dataType: "json",
                    contentType: 'application/json;',
                    success: function (result) {

                    },
                });
            }
        }
</script>

