﻿@model DOITOEMApi.mstMachineLine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mstMachineLine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachineLineType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineLineType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxRegisters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxRegisters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OEMID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OEMID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifedBy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineLineID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
