﻿@model IEnumerable<DOITOEMApi.mstMachineLine>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MachineLineType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxRegisters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OEMID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MachineLineType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxRegisters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OEMID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MachineLineID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MachineLineID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MachineLineID })
        </td>
    </tr>
}

</table>
