﻿@model DOITOEMApi.mstRegisterData
<label>Bit Position :</label>
<input type="text" id="txt1_0" />
<label>Bit Name :</label>
<input type="text" id="txt2_0" />
<label>Bit 0 :</label>
<input type="text" id="txt3_0" />
<label>Bit 1 :</label>
<input type="text" id="txt3_0" />
 
<button id="Add">add</button>
<button id="Remove">Click remove</button>

<div id="textboxDiv"></div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var txtcnt1 = 0;
    var txtcnt2 = 0;
    var txtcnt3 = 0;
     var txtcnt4 = 0;
    $(document).ready(function () {
        $("#Add").on("click", function () {
            txtcnt1 = txtcnt1 + 1;
            txtcnt2 = txtcnt2 + 1;
            txtcnt3 = txtcnt3 + 1;
            txtcnt4 = txtcnt4 + 1;
            $("#textboxDiv").append("<div class='row'><div><br><label>Bit Posion :</label><input type='text' id='txt1_" + txtcnt1 + "'/></div>"+
                "<div> <label>Bit Name :</label> <input type='text' id='txt2_" + txtcnt2 + "' /> </div>"+
                "<div> <label>Bit 0 :</label> <input type='text' id='txt3_" + txtcnt3 + "' /></div> "+
                "<div> <label>Bit 0 :</label> <input type='text' id='txt4_" + txtcnt4 + "' /></div></div> ");
        });
        $("#Remove").on("click", function () {
            $("#textboxDiv").children().last().remove();
        });
    });
</script>