﻿@model DOITOEMApi.mstRegisterData

<label>CODE iVAL :</label>
<input type="text" id="txt1_0" />
<label>CODE iName :</label>
<input type="text" id="txt2_0" />

<button id="Add">add</button>
<button id="Remove">Click remove</button>

<div id="textboxDiv"></div>


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var txtcnt1 = 0;
    var txtcnt2 = 0;
    $(document).ready(function () {
        $("#Add").on("click", function () {
            txtcnt1 = txtcnt1 + 1;
            txtcnt2 = txtcnt2 + 1;
            $("#textboxDiv").append("<div><br><label>CODE iValue :</label><input type='text' id='txt1_" + txtcnt1 + "'/></div><div><label>CODE iValue :</label><input type='text'  id='txt2_" + txtcnt1 + "'/><br></div>");
        });
        $("#Remove").on("click", function () {
            $("#textboxDiv").children().last().remove();
        });
    });
</script>
