﻿@model DOITOEMApi.mstRegisterData

<label>Float Register Value :</label>
<input type="text" id="txt_floatval" />
<label>Float fUCL Value :</label>
<input type="text" id="txt_fucl" />
<label>Float fLCL Value :</label>
<input type="text" id="txt_flcl" />