﻿@*@Model.DOITOEMApi.mstRegisterData*@

<label>Integer Register Value :</label>
<input type="text" id="txt_intval" />
<label>Integer iUCL Value :</label>
<input type="text" id="txt_iucl" />
<label>Integer iLCL Value :</label>
<input type="text" id="txt_ilcl" />